* {
    font-family: "MesloLGS NF", "Symbols Nerd Font";
    font-size: 14px;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}

#custom-logo {
    font-size: 18px;
    padding: 0 10px;
    color: #ffffff;
}

#workspaces button {
    padding: 0 2px;
    color: #ffffff;
    font-size: 10px;
    min-width: 15px;
}

#workspaces button.active {
    background: #444444;
    color: #ffffff;
}

#workspaces button.urgent {
    background: #ff0000;
    color: #ffffff;
}

#clock,
#pulseaudio,
#custom-mic,
#language,
#tray {
    padding: 0 10px;
}

#language {
    min-width: 30px;
}

#custom-power {
    font-size: 24px;
    padding: 0 2px;
}

#custom-reboot,
#custom-logout {
    font-size: 14px;
    padding: 0 4px;
}
